<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.hv.crille"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:icon="@drawable/icon_gubben"
        android:label="@string/app_name"
        android:theme="@style/hvTheme" >
        <activity
            android:name="se.hv.dindag.Start"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.hv.dindag.WebReader"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.WEBREADER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.hv.dindag.Login"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="se.hv.dindag.MyDay"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="se.hv.dindag.DinDagMenu"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="se.hv.dindag.AboutUs"
            android:clearTaskOnLaunch="true"
            android:label="Om appen"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="se.hv.dindag.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.hv.dindag.TwitterFeed"
            android:clearTaskOnLaunch="true"
            android:label="@string/twitterTitle" >
            <intent-filter>
                <action android:name="se.hv.dindag.TWITTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>